.video-file-navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.425);
    z-index: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-file-navigation__container {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    border: 10px solid #0066ff;
    display: flex;
    flex-direction: column;
}

.video-file-navigation__main {
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.video-file-navigation__buttons {
    width: 100%;
    height: 8%;
    /* background-color: red; */
}

.video-file-navigation__button.close-button {
    width: 100%;
    height: 100%;
    background-color: #0400ff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.video-file-navigation__top-panel {
    width: 100%;
    /* border: 2px solid #0000ff; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-file-navigation__current-dir {
    width: 80%;
    border: 2px solid #0000ff;
}

.video-file-navigation__file-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 1px solid #c6deff;
}

.video-file-navigation__file-list::-webkit-scrollbar {
    width: 6px;
    background: #00d9ff;
}

.video-file-navigation__file-list::-webkit-scrollbar-thumb {
    background: #001aff;
}


.video-file-navigation__button.item-button {
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding: 10px 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.video-file-navigation__button.item-button:not(:first-child) {
    border-top: 1px solid #c6deff;
}

.video-file-navigation__button.item-button.folder-button::before {
    position: relative;
    top: 0;
    display: inline-block;
    content: '';
    width: calc(73px / 2);
    height: calc(62px / 2);
    background-image: url('../../../public/images/folder.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 15px;
}

.video-file-navigation__button.item-button.file-button::before {
    position: relative;
    top: 0;
    display: inline-block;
    content: '';
    width: calc(73px / 2);
    height: calc(48px / 2);
    background-image: url('../../../public/images/videofile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 15px;
}

.video-file-navigation__button.item-button:hover {
    background-color: #ababfc;
}


.back-dir-btn {
    width: 30px;
    border: 2px solid #0000ff;
    margin-left: 10px;
    color: #0000ff;
}

.back-dir-btn:hover {
    background-color: #0000ff;
    color: #fff;
    cursor: pointer;
}

.video-file-navigation__message-box {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: #0000ff;
}