.mylift-editor {}

.mylift-editor__elevator-container {}


.mylift-editor__toolbar {
    position: absolute;
    top: 0;
    left: -4%;
    width: 5%;
    height: 100%;
    background-color: #00b7ff;
    transition: all 0.5s ease 0s;
    border-radius: 20px;
    border-right: 10px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 150;
}

.mylift-editor__toolbar:hover {
    left: 0;
    border-radius: 0;
    border-color: #9900ff;
}

.mylift-editor__button {
    width: 55px;
    height: 55px;
    background-color: #0022ff;
    border-radius: 10px;
    margin-top: 10px;
    color: #00ffea;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.25s ease 0s;
    outline: 4px solid transparent;
}

.mylift-editor__button:hover {
    outline-color: #00ffea;
    /* color: #0022ff; */
}

.mylift-editor__button.preview-mode {
    background-color: #00ffea;
    border-radius: 20px;
    color: #0022ff;
}

.mylift-editor__button.main-info {
    background-image: url('/images/liftPanel_mainInfo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.mylift-editor__button.lift-settings {
    background-image: url('/images/liftPanel_elevatorSettings.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}

.mylift-editor__button.coursebot-options {
    background-image: url('/images/liftPanel_coursebotOptions.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-position-y: 40%;
}

.mylift-editor__button:disabled {
    filter: grayscale(1) opacity(0.8);
    cursor: not-allowed;
}

.mylift-editor__button:disabled:hover {
    outline: none;
}

.mylift-editor__button-tooltip {
    background-color: #0022ff;
    margin-top: -50px;
    margin-left: 50px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    cursor: default;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mylift-editor__button.preview-btn .mylift-editor__button-tooltip {
    margin-top: -45px;
}