.elevator-display {
    scale: 0.6;
}

.elevator-display.in-elevator {
    position: absolute;
    top: 0;
    transition: outline 0.5s ease 0s;
    outline: 4px solid transparent;
}

.elevator-display.edit-mode:hover {
    outline: 4px solid #0084ff;
    cursor: pointer;
}

.elevator-display.edit-mode.editing {
    outline: 5px solid #001aff;
}

@font-face {
    font-family: 'TL-D70_Numbers';
    src: url('/fonts/displays/tl-d70/Lato/Lato-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

.floor-num {
    font-family: 'TL-D70_Numbers', sans-serif;
    font-size: 63px;
}