.new-elevator-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0004;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}


.new-elevator-modal__container {
    width: 80%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
    border: 8px solid #0099ff;
}

.new-elevator-modal__title {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    color: #0099ff;
}

.new-elevator-modal__content {
    border-top: 8px solid #0099ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 600px;
}

.new-elevator-modal__item {
    width: 95%;
    border-radius: 10px;
    border: 2px solid #0099ff;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.new-elevator-modal__label {
    width: 100%;
    font-weight: bold;
    color: #000000;
    text-align: center;
    background-color: #0099ff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.new-elevator-modal__block {
    display: flex;
    margin: 15px 0;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
}

.new-elevator-modal__text {
    color: #0084ff;
    font-weight: 600;
    display: inline-block;
    border: none;
    margin-right: 10px;
}

.new-elevator-modal__input {
    display: inline-block;
    border: 2px solid #0099ff;
    color: #006eff;
    font-weight: 600;
    border-radius: 7px;
    padding: 0 5px;
    margin: 0;
    outline: none;
}

.new-elevator-modal__input:focus {
    color: #fff;
    background-color: #0099ff;
}

.new-elevator-modal__input.name-description-input {
    width: 500px;
}

.new-elevator-modal__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-elevator-modal__button.add-floor-button {
    width: 400px;
    border: 2px solid #0066ff;
    border-radius: 15px;
    background-color: #0066ff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.new-elevator-modal__button.add-floor-button:hover {
    width: 600px;
    background-color: #fff;
    color: #0066ff;
}

.new-elevator-modal__floor-block {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    /* display: block; */
    border: 2px solid #0099ff;
    /* padding: 10px 0; */
}

.new-elevator-modal__floor-block-left {
    position: relative;
    width: 97%;
    height: 100%;
}

.new-elevator-modal__floor-block-right {
    position: relative;
    width: 3%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.new-elevator-modal__floor-tile {
    /* display: inline-block; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #001aff;
    padding: 0 5px;
    height: 100%;
    border-right: 2px solid #0099ff;
}

.new-elevator-modal__floor-block-right .new-elevator-modal__floor-tile:last-child {
    border-right: none;
    border-left: 2px solid #0099ff;
    padding: 0;
}

.new-elevator-modal__block.floor-list {
    position: relative;
    width: 95%;
    /* max-height: 250px; */
    /* overflow-y: auto; */
    /* border: 2px solid #0066ff; */
    /* border-radius: 5px; */
    /* padding: 10px; */
}

.new-elevator-modal__input.floor-symbol-input {
    border-radius: 0;
    width: 40px;
    margin-left: 5px;
}

.new-elevator-modal__input.floor-access-select {
    border-radius: 0;
    margin-left: 5px;
    /* width: 150px; */
}

.new-elevator-modal__button.floor-video-button {
    min-width: 65px;
    height: 30px;
    cursor: pointer;
}

.new-elevator-modal__button.floor-video-button:hover {
    outline: 2px solid #001aff;
}

.new-elevator-modal__input.floor-view-count-input {
    width: 45px;
    border-radius: 0;
    margin-left: 10px;
}

.new-elevator-modal__input.floor-number-select {
    width: 50px;
}

.new-elevator-modal__button.remove-floor-button {
    position: relative;
    font-size: 30px;
    color: #ff0000;
    transition: all 0.4s ease 0s;
    width: 100%;
    height: 100%;
    padding: 0 5px;
}

.new-elevator-modal__button.remove-floor-button span {
    position: relative;
    transition: rotate 0.4s ease 0s, color 0.8s ease 0s;
    rotate: 0deg;
    display: inline-block;
}

.new-elevator-modal__button.remove-floor-button:hover span {
    rotate: 180deg;
    color: #ffffff;
}

.new-elevator-modal__button.remove-floor-button:hover {
    cursor: pointer;
    background-color: #ff0000;
}

.small-text {
    color: #0099ff;
    font-size: 13px;
}

.new-elevator-modal__block.sound-effect-block {
    width: 80%;
    border: 2px solid #0084ff;
    padding: 5px 0;
    color: #0084ff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}


.new-elevator-modal__button.upload-sound-button {
    border: 3px solid #001aff;
    margin: 0 10px;
    padding: 0 10px;
    color: #001aff;
}

.new-elevator-modal__button.upload-sound-button:hover {
    outline: 2px solid #0099ff;
    cursor: pointer;
}

.new-elevator-modal__text.coursebot-span {
    padding: 5px 10px;
}

.new-elevator-modal__message.uploaded-sound-name {
    margin: 0 10px;
    color: #001aff;
}


.create-elevator-button {
    width: 60%;
    margin: 20px 0;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #001aff;
    transition: all 0.5s ease 0s;
    color: #00eeff;
    font-size: 21px;
}

.create-elevator-button:hover {
    background: #00a2ff;
    color: #001aff;
    cursor: pointer;
}