.profile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #212a33;
    /* border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    z-index: 100;
    min-width: 160px;
}