.button-options-modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000015;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-options-modal {
    width: 50%;
    height: 55%;
    background-color: #0022ff;
    border-radius: 15px;
    border: 3px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-options-modal__title {
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: 10px 0;
}

.button-options-modal__content {
    width: 100%;
    height: 80%;
    border-top: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-options-modal__left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-options-modal__right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 5px solid #fff;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: red; */
}

.button-options-modal__bottom-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-options-modal__bottom-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-options-modal__properties {
    margin-top: 55px;
    margin-left: 55px;
}

.button-options-modal__property {

}

.button-options-modal__label {
    color: #fff;
}

.button-options-modal__input.floor-input {
    width: 55px;
    margin-left: 10px;
    outline: 2px solid #fff;
    color: #fff;
    padding-left: 5px;
    cursor: pointer;
}

.button-options-modal__input.floor-input option {
    color: #0022ff;
}

.button-options-modal__elevator-button {
    /* width: 160px;
    height: 160px; */
    width: 30px;
    height: 30px;
    scale: 6;
    margin: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    /* font-size: 10px; */
}

.button-options-modal__tab-button {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #929292;
    cursor: pointer;
}

.button-options-modal__tab-button.selected {
    background-color: #0022ff;
    color: #fff;
}

.button-options-modal__tab-button:not(.selected):hover {
    background-color: #dce1ff;
}

.button-options-modal__top {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: stretch;
}

.button-options-modal__bottom {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-options-modal__button-property {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-options-modal__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    border-top: 3px solid #fff;
}

.button-options-modal__button {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.button-options-modal__button:first-child {
    border-bottom-left-radius: 10px;
}

.button-options-modal__button:last-child {
    border-bottom-right-radius: 10px;
}

.button-options-modal__button.save-button {
    color: #fff;
    background-color: #00b400;
}

.button-options-modal__button.close-button {
    color: #fff;
    background-color: #bb0000;
}

.button-options-modal__button.save-button:hover {
    color: #006100;
    background-color: #00ff00;
}

.button-options-modal__button.close-button:hover {
    color: #630000;
    background-color: #ff0000;
}

.button-options-modal__button.upload-image-button {
    width: 350px;
    border: 3px dashed #00fff2;
    padding: 5px 0;
    color: #00fff2;
    border-radius: 0;
    margin-top: 15px;
}

.button-options-modal__button.upload-image-button:hover {
    border-color: #001181;
    color: #001181;
}